* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


:root {
  --dark: rgb(33, 22, 75);
  --light: rgb(129, 124, 148);
  --border-right: black;
}

body {
  margin: 0;
}

/* Main background of the header */
header {
  padding-left: 10px;
  background-color: var(--dark);
  color: var(--light);
}

/* Box around my name in the header*/
.header-box {
  margin-top: 50px;
  display: inline-block;
  font-size: 25px;
  background-color: var(--light);
  color: var(--dark);
  width: 250px;
  height: 55px;
  padding: 10px;
  border-radius: 10px 0px 10px 0px;
}

/* My name */
.header-box span {
  display: inline-block;
  margin-right: 1px;
}

/* Navigation box */
header nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}


/* Navigation list */
header nav ul li {
  display: inline-block;
  margin-left: 25px;
  padding-top: 30px;
}

/*Removing underlines and blue from all links*/
a {
  color: var(--light);
  font-size: larger;
}

/* Background below header */
.background {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(../images/main-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* Holder for Work header and projects */
.accomplishments {
  display: flex;
}

/* Projects with sections and articles */
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*Three main sections*/
section {
  padding: 10px;
  margin: 10px;
  display: flex;
}

/*Three main headings*/
section h2 {
  margin-right: 5px;
  flex: 0 0 250px;
  border-right: 3px solid var(--border-right);
}

/* Three articles in the projects */
article {
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: var(--dark);
}



/* Biggest main articles */
#big:hover {
  box-shadow:inset 0px 0px 8px
  rgb(65, 4, 163), 0 0 1.5px
  rgba(65, 4, 163);
  display: flex;
  width: 100%;
}

/* Two smaller articles */
.small:hover {
  box-shadow:inset 0px 0px 8px
  rgb(65, 4, 163), 0 0 1.5px
  rgba(65, 4, 163);
  display: flex;
  flex-direction: row;
  flex: 0 0 50px;
}

/* Two smaller images */
.small img {
  height: 250px;
}

/* All images */
.image-container {
  position: relative;
  margin: 10px;
}

/* All image labels */
.image-name {
  position: absolute;
  bottom: 20px;
  left: 50px;
  font-weight: bolder;
  font-size: x-large;
  background-color: var(--light);
  color: var(--dark);
  height: 55px;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}


.contact-me ul {
  border-left: 3px solid var(--border-left);
}

.contact-me ul li {
  display: inline-block;
  padding: 10px;
  color: var(--dark);
}

@media screen and (max-width: 992px) {
  header nav {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 768px) {
  header nav {
    justify-content: center;
    flex-direction: column;
  }
}