* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color:rgb(253, 253, 253); */
  }

:root {
  --dark:  rgb(33, 22, 75);
  --light: rgb(129, 124, 148);

}
  
  body {
    margin: 0;
  }
 /* Element selector setting the sizing and colors for the header containing my name */
header {
    padding: 10px;
    background-color: var(--dark);
    color: var(--light);
}
/* Going in a level deeper than the header and defining the display and size for "Meredith McDonald" */
.header-box {
    margin: 5px;
    display: inline-block;
    font-size: 25px;
    background-color: var(--light);
    color: var(--dark);
    width: 200px;
    height: 100px;
    padding: 10px;
}

/* Setting up the style, size, spacing, and text for the navigation links in the header */
header nav {
    padding-top: 40px;
    margin-right: 20px;
    float: right;
    font-size: 18px;
}
/* Style for the display of the nav links in the header */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
    padding-top: 30px;
}
  /* removing the default blue color and underline from the nav links */
a {
    color: var(--light);
}
  main {
    display: flex;
    flex-wrap: wrap;
    color: var(--dark);
  }
  
  footer {
    padding: 20px;
    text-align: center;
    color: rgba(232, 102, 236);
  }

  section {
    flex: 4;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
  }

  h2 {
    margin-right: 5px;
   } 
  
  article {
    border-left: 3px solid black;
    padding-left: 20px;
    width: 75%;
  }

  pre {
    color:#fff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    background-image: linear-gradient(rgba(232, 102, 236, 0.3)0%, rgba(232, 102, 236, 0.6)100%);  
    border-radius: 5px;
    padding-top: 10px;
    user-select:auto;

  }
  

  @media screen and (max-width: 992px) {
 article {
    width: 50%;  
  }}
  @media screen and (max-width: 768px) {
    article {
        width: 100%;   
  }}