
/* Universal styling for the page naming preferred font family, box, and background color */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* selecting theme colors */
:root {
  --dark:  rgb(33, 22, 75);
  --light: rgb(129, 124, 148);
  --border-left: black; 
}
/* taking away margins for the entire body unless I overried */
  body {
    margin: 0;
  }
 /* Element selector setting the spacing and colors for the header containing my name and the nav */
header {
    padding-left: 10px;
    background-color: var(--dark);
    color: var(--light);
}
/* Going in a level deeper than the header and defining the display, size and style for my name and the box around it*/
.header-box {
    margin-top: 50px;
    display: inline-block;
    font-size: 25px;
    background-color: var(--light);
    color: var(--dark);
    width: 250px;
    height: 55px;
    padding: 10px;
}

/* setting up my name to be inline with a space between first name and last name */
.header-box span {
  display: inline-block;
  margin-right: 1px;
}
/* Setting up the behavior of the navigation links in the header */
header nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}


/* Style for the display of the nav links in the header */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
    padding-top: 30px;
}
  /* removing the default blue color and underline from the nav links */
a {
    color: var(--light);
    font-size:larger;
}
/* created container for background image to sit under header and above the main section */
.background-container {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(../images/main-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 }


/* setting up flex behavior and font color for the main part of the body */
  main {
    display: flex;
    flex-wrap: wrap;
    color: var(--dark);
  }
/* defined settings for basic parameters of the three sections*/
  section {
    flex: 4;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  /* defined settings for the three h2 headings */
  section h2 {
    margin-right: 5px;
    flex: 0 0 250px;
   } 
  
   /* defined settings for the content within the article, keeping it to the right of the h2 as well */
  article {
    border-left: 3px solid var(--border-left);
    padding-left: 20px;
    width: 75%;
 

  }
  figure {
    border-left: 3px solid var(--border-left);
    padding-left: 20px;
    width: 75%;
  }

  .contact-me ul {
    border-left: 3px solid var(--border-left);
  }
  .contact-me ul li {
    display: inline-block;
    padding: 10px;
    
  }

  /* setting up the header to be responsive to viewport sizes */
@media screen and (max-width: 992px) {
  header nav {
    justify-content: flex-end;  
   }}
@media screen and (max-width: 768px) {
  header nav {
    justify-content: center;  
   }}
